body{
	background-color: #e2e2e2;
}

.navbar-default{
	background: rgba(52,146,247,1);
	background: -moz-linear-gradient(45deg, rgba(52,146,247,1) 0%, rgba(87,230,39,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(52,146,247,1)), color-stop(100%, rgba(87,230,39,1)));
	background: -webkit-linear-gradient(45deg, rgba(52,146,247,1) 0%, rgba(87,230,39,1) 100%);
	background: -o-linear-gradient(45deg, rgba(52,146,247,1) 0%, rgba(87,230,39,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(52,146,247,1) 0%, rgba(87,230,39,1) 100%);
	background: linear-gradient(45deg, rgba(52,146,247,1) 0%, rgba(87,230,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3492f7', endColorstr='#57e627', GradientType=1 );
	border: 0px;
	border-radius: 0px;

}
.bo{
	margin-bottom: 20px;
}
.navbar-nav li a,.navbar-brand{
	color: white!important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default
.navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #08559c!important;
}
.media-object{
	width: 60px;
  height: 60px;
}
.panel-footer{
	padding: 0px;
	padding-left: 10px;
}
.panel-footer .list-inline{
	margin-bottom: 0px;
}
.panel .media-object{
	border: 1px solid #c5c5c5;
}
.panel .media-heading{
	margin-top: 17px;
}
.panel{
	margin-bottom: 0px;
}
.panel-body {
    padding: 15px;
    padding-bottom: 0px;
}
.panel-footer{
	margin-top: 10px;
	background-color: transparent;
	text-align: left;
}
#info-panel{
	margin-bottom: 30px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.box-img-profile{
		text-align: center;

}

#my-avatar{
	width: 200px;
	height: 200px;
}
.box-btn-panel{
	margin-bottom: 20px;
}

.btn-modal{
	border-color: transparent!important;
	padding: 0px!important;
	border: 0px!important;
  background: transparent!important;
}
.btn-modal:focus,.btn-modal:active{
	border: 0px!important;
	background: transparent!important;
}
.btn-modal:hover >.panel{
	background-color: #399edb!important;
	color: white;
}
#upload{
	margin-top: 0px;
	    border: 0px;
	    background-color: #08559c;
	    border-radius: 0px;
	    height: 50px;
	    color: white;
	    margin-right: -15px;
}
